body{
    background: url('./images/bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: 160%;
    background-position: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jumbotron{
    color: rgba(156, 59, 59, 0.973);
    text-align: center;
    font-size: 20px;

}


.btn-three {
    color: rgba(95, 69, 121, 0.815)
}

.card-header, .card-body{
    text-align: center;
    font-size: 20px;

}

.correct, .incorrect{
    text-align: center;
    font-size: 20px;
}